html {
  margin: auto;
  width: 90%;
}

body {
  font-family: 'Work Sans', sans-serif !important;
  letter-spacing: 0.1rem;
}

nav {
  z-index: 3;
}

main {
  z-index: 10 !important;
  color: white;
  position: relative;
  font-size: 1.2rem;
  width: 80%;
  /* margin: auto; */
}

header {
  margin: 30px 0 40px 0;
  z-index: 10;
  position: relative;
  text-align: center;
}

h1 {
  font-size: 2rem !important;
  margin-bottom: 30px !important;
}

form {
  margin-top: 50px;
}

button {
  font-size: 1.1rem !important;
}

li>a {
  color: white !important;
}

i {
  font-size: 0.9rem;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.about {
  background: rgba(0, 0, 0, 0.6);
}

.login-form-link {
  cursor: pointer;
}

.login-form {
  width: 40%;
}

.MuiButton-root:hover {
  border: 2px solid #943F72 !important;
}

.creditcard {
  width: 100%;
  height: 37px;
  border-radius: 5px;
  border: none;
}

.register-form {
  width: 60%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.register-form > div {
  padding: 10px 0;
}

.btn-dark {
  background-color: rgb(101, 101, 101) !important;
}

.btn-dark:hover {
  background-color: #943F72 !important;
}

.btn-info {
  background-color: #0091B0 !important;
  border: none !important;
  width: 200px;
  color: white !important;
  font-size: 1.3rem !important;
}

.btn-info:hover {
  background-color: rgb(3, 123, 150) !important;
}

.btn > a {
  text-decoration: none;
  color: white;
}

footer {
  z-index: 20;
  display: flex;
  justify-content: center;
}

.planet{
  width:85vw;
  position: fixed;
  z-index: 3;
  bottom: -100px;
}

.bg-dark {
  background-color: black !important;
}

.navbar-brand {
  font-size: 3rem !important;
  font-weight: 500;
  line-height: 2.4rem;
  letter-spacing: 0.3rem;
  margin: 0 auto !important;
}

.tagline {
  font-size: 1rem;
  margin-left: 3px;
}

.nav-item {
  padding: 20px;
}

.search-flights-btn {
  display: flex;
  justify-content: flex-end;
}

.bookTicket {
  max-width: 300px;
  background-color: white;
  color: black;
  font-size: 1rem;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  box-shadow: 30px 20px 50px rgba(150, 150, 150, 0.19), 0 10px 10px rgba(131, 131, 131, 0.23);
}

.myTicket {
  max-width: 300px;
  height: 100%;
  background-color: white;
  color: black;
  font-size: 1rem;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  box-shadow: 30px 20px 50px rgba(150, 150, 150, 0.19), 0 10px 10px rgba(131, 131, 131, 0.23);
}

.form-label {
  margin-bottom: 0 !important;
  font-weight: bolder !important;
}

.bookTicket > form input,
.myTicket > form input {
  border: none;
  margin-left: 10px;
  background-color: transparent;
  width: 100%;
}

.bookTicket > form div,
.myTicket > form div {
  margin-bottom: 20px;
}

.form-fields {
  margin-left: 15px;
  margin-top: 40px;
}

.seat-section {
  text-align: center;
  position: relative;
  color: white;
  font-size: 1.5rem;
  margin-top: 8px;
}

.ticket-header {
  width: 300px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.total-price {
  border: 3 solid black;
  font-size: 1.5rem;
}

.ticket-disclaimer {
  font-size: 0.8rem;
  text-align: center;
}

#logout {
  cursor: pointer;
}

#pink {
  background-color: #943F72;
}

#gold {
  background-color: rgb(213, 153, 0)
}

#blue {
  background-color: #0091B0;
}

#lunar-gray {
  background-color: #567270;
}

/* Background effects */

@keyframes move-background {
  from {
      -webkit-transform: translate3d(0px, 0px, 0px);
  }

  to {
      -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
      -webkit-transform: translate3d(0px, 0px, 0px);
  }

  to {
      -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-moz-keyframes move-background {
  from {
      -webkit-transform: translate3d(0px, 0px, 0px);
  }

  to {
      -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
      -webkit-transform: translate3d(0px, 0px, 0px);
  }

  to {
      -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.stars {
  background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: -2;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;

  -moz-animation: move-background 60s linear infinite;
  -ms-animation: move-background 60s linear infinite;
  -o-animation: move-background 60s linear infinite;
  -webkit-animation: move-background 60s linear infinite;
  animation: move-background 60s linear infinite;
}

@media screen and (max-width: 769px) {

  h1 {
    text-align: center;
  }

  form {
      justify-content: center;
  }

  .nav-item {
    padding: 10px;
    margin-left: auto;
    background: rgba(0, 0, 0, 0.7);
  }

  .login-form, .register-form {
    width: 90%;
  }

  .register-form > div > div {
    padding-bottom: 20px;
  }

  .form-select {
      width: 80% !important;
      margin: 10px;
  }

  .search-flights-btn {
      display: block;
  }

  .react-date-picker {
    margin-bottom: 10px;
  }

  .planet{
      width:85vw;
      position: fixed;
      z-index: 3;
      bottom: 0px;
    }

    .dropdown {
    width: 100% !important;
    margin-left: 0px !important;
    margin-bottom: 12px !important;
  }

  .datePicker {
    margin-bottom: 10px !important;
  }
}


@media screen and (max-width: 576px) {

  h1 {
    font-size: 1.5rem !important;
  }

  a.navbar-brand > img {
    width: 150% !important
  }

  .navbar-brand {
    margin: 0px !important;
    width: 50%;
  }

  .form-select {
      width: 100% !important;
      margin: auto;
  }

  .dropdown {
    width: 100% !important;
    margin-left: 0px !important;
  }

  .datePicker {
    margin-bottom: 0px !important;
  }
}